<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codi.fundData.domain.FundPersonInfo">
	<resultMap id="BaseResultMap" type="com.codi.fundData.domain.FundPersonInfo">
		<result column="ID" property="ID" jdbcType="BIGINT" />
		<result column="PersonalCode" property="personalCode" jdbcType="BIGINT" />
		<result column="ChineseName" property="chineseName" jdbcType="VARCHAR" />
		<result column="OtherName" property="otherName" jdbcType="VARCHAR" />
		<result column="EnglishName" property="englishName" jdbcType="VARCHAR" />
		<result column="Gender" property="gender" jdbcType="INTEGER" />
		<result column="Nationality" property="nationality" jdbcType="INTEGER" />
		<result column="BirthDate" property="birthDate" jdbcType="TIMESTAMP" />
		<result column="BirthYMInfo" property="birthYMInfo" jdbcType="VARCHAR" />
		<result column="Education" property="education" jdbcType="INTEGER" />
		<result column="IDCardNum" property="IDCardNum" jdbcType="VARCHAR" />
		<result column="PassportNum" property="passportNum" jdbcType="VARCHAR" />
		<result column="PracticeDate" property="practiceDate" jdbcType="TIMESTAMP" />
		<result column="ExperienceTime" property="experienceTime" jdbcType="DECIMAL" />
		<result column="ProQualifi" property="proQualifi" jdbcType="VARCHAR" />
		<result column="FileType" property="fileType" jdbcType="INTEGER" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="JSID" property="JSID" jdbcType="BIGINT" />
		<result column="Background" property="background" jdbcType="LONGVARCHAR" />
		<result column="PersonalData" property="personalData" jdbcType="LONGVARBINARY" />
	</resultMap>
	<sql id="base-column-list">
		ID, PersonalCode, ChineseName,
		OtherName, EnglishName, Gender,
		Nationality, BirthDate, BirthYMInfo,
		Education, IDCardNum, PassportNum,
		PracticeDate, ExperienceTime, ProQualifi,
		FileType, UpdateTime, JSID,
		Background,
		PersonalData
	</sql>

	<sql id="simple-column-list">
		ID, PersonalCode, ChineseName,
		OtherName, EnglishName, Gender,
		Nationality, BirthDate, BirthYMInfo,
		Education, IDCardNum,
		PassportNum,
		PracticeDate, ExperienceTime, ProQualifi,
		FileType, UpdateTime, JSID,
		Background
	</sql>

	<select id="selectPersonInfo" resultMap="BaseResultMap" parameterType="com.codi.fundData.domain.FundPersonInfo">
		select
		<include refid="simple-column-list" />
		from MF_PersonalInfo
		where
		PersonalCode=#{personalCode}

	</select>
</mapper>