<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codi.fundData.domain.FundQDIIAssetAllocation">
	<resultMap id="BaseResultMap" type="com.codi.fundData.domain.FundQDIIAssetAllocation">
		<result column="ID" property="ID" jdbcType="BIGINT" />
		<result column="InnerCode" property="innerCode" jdbcType="INTEGER" />
		<result column="InfoPublDate" property="infoPublDate" jdbcType="TIMESTAMP" />
		<result column="InfoSource" property="infoSource" jdbcType="VARCHAR" />
		<result column="EndDate" property="endDate" jdbcType="TIMESTAMP" />
		<result column="SerialNumber" property="serialNumber" jdbcType="INTEGER" />
		<result column="AssetType" property="assetType" jdbcType="INTEGER" />
		<result column="AssetName" property="assetName" jdbcType="VARCHAR" />
		<result column="MarketValue" property="marketValue" jdbcType="DECIMAL" />
		<result column="RatioInNV" property="ratioInNV" jdbcType="DECIMAL" />
		<result column="Remark" property="remark" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="JSID" property="JSID" jdbcType="BIGINT" />
		<result column="RatioInTotalAsset" property="ratioInTotalAsset" jdbcType="DECIMAL" />
	</resultMap>

	<sql id="base-column-list">
		ID, InnerCode, InfoPublDate,
		InfoSource, EndDate, SerialNumber,
		AssetType, AssetName, MarketValue,
		RatioInNV,
		Remark, UpdateTime,
		JSID, RatioInTotalAsset
	</sql>

	<select id="selectLatestAssetAllocation" resultMap="BaseResultMap" parameterType="com.codi.fundData.domain.FundQDIIAssetAllocation">
		SELECT
		a.ID, a.InnerCode, a.InfoPublDate,
		a.EndDate, a.AssetType, a.MarketValue,
		a.RatioInTotalAsset, a.RatioInNV
		FROM
		MF_QDIIAssetAllocation a,
		(select
		MAX(ID) AS 'ID'
		FROM MF_QDIIAssetAllocation TEMP
		WHERE
		TEMP.InnerCode=#{innerCode}
		<if test="assetTypeCode != null">
			AND TEMP.AssetTypeCode=#{assetTypeCode}
		</if>
		) b
		WHERE
		a.ID =b.ID
	</select>

	<select id="selectAssetAllocationList" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		DISTINCT
		a.ID,
		a.InnerCode,
		a.InfoPublDate,
		a.EndDate,
		a.AssetType,
		a.AssetName,
		a.MarketValue,
		a.RatioInTotalAsset,
		a.RatioInNV,
		a.SerialNumber
		FROM
		MF_QDIIAssetAllocation a,
		(SELECT
		MAX(TEMP.EndDate) AS 'EndDate'
		FROM
		MF_QDIIAssetAllocation TEMP
		WHERE
		TEMP.InnerCode = #{innerCode}) b
		WHERE
		a.InnerCode = #{innerCode}
		<if test="assetTypeCodes != null">
			AND a.AssetType IN
			<foreach collection="assetTypeCodes" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		AND a.EndDate = b.EndDate
		ORDER BY a.SerialNumber
	</select>

</mapper>